.order-details-container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: auto;
}
.order-details-container::-webkit-scrollbar {
  display: none;
}
.order-details-conatiner-heading {
  font-size: 20px;
  font-weight: 600;
}
.order-details-section {
  width: 100%;
  display: flex;
  gap: 20px;
}

.order-details-left-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 100%;
}
.order-details-top-inner-section {
  display: flex;
  justify-content: start;
  gap: 20px;
  width: 100%;
}
.order-details-left-inner-section-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  width: 100%;
}
.order-details-left-top-containers {
  width: 100%;
  background-color: white;
  padding: 24px 22px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  row-gap: 8px;
  border-radius: 4px;
}
.order-details-top-order-cont {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
/* .order-details-left-bottom-containers {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
} */

.order-details-left-bottom-containers {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.order-details-left-bottom-vehichle {
  width: 57vw;
  background-color: white;
  padding: 24px 22px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  border-radius: 4px;
}
.order-details-left-bottom-vehichle-no {
  width: 28vw;
  background-color: white;
  padding: 24px 22px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  row-gap: 10px;
}
.order-details-right-inner-section-container {
  width: 39vw;
  background-color: white;
  padding: 18px 30px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  row-gap: 18px;
  border-radius: 4px;
}
.order-details-top-bottom-sction {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}
.order-details-top-bottom-order-sect {
  width: 28vw;
  background-color: white;
  padding: 24px 20px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  row-gap: 10px;
}
.order-details-right-section {
  width: 24vw;
  background-color: white;
  padding: 12px 12px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.order-details-map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22vw;
  /* border: 1px solid red; */
}
.order-details-left-top-main-heading-button {
  background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 14px;
  cursor: pointer;
}
/* start the assign driver table list */
.order-details-assign-driver-section {
  width: 100%;
  background-color: white;
  padding: 12px 12px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}
.table-assign-driver-heading {
  color: #192039;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 10px;
}
.table > :not(caption) > * > * {
  padding: 10px 10px !important;
  border-bottom-width: 0px !important;
}
.tables-td {
  width: 400px !important;
}
.tables-td-cont {
  width: 600px !important;
}
.table-second-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.table-g-section-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.table-g-section {
  color: #fff;
  border: none;
  background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6);
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  justify-content: center;
}
/* start the pickup section */
.order-details-payment-container {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: start;
  margin-bottom: 100px;
}
.order-details-payment-left-section {
  width: 34vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
}
.order-details-payment-terms-cont {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.order-details-payment-first-terms-cont {
  width: 16vw;
  background-color: white;
  padding: 20px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  row-gap: 6px;
}
.order-details-payment-detention-cont {
  width: 33.4vw;
  background-color: white;
  padding: 20px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  row-gap: 6px;
}
.order-details-payment-remark-cont {
  width: 33.4vw;
  background-color: white;
  padding: 20px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  row-gap: 20px;
}
.order-details-payment-right-section {
  width: 100%;
  background-color: white;
  padding: 30px 20px;
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}
.order-details-right-details-row-one {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}
.order-details-right-pickupdata {
  width: 180px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.order-details-left-top-main-heading {
  color: #99a0ac;
  font-size: 12px;
}
.order-details-left-top-main-contents {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #5e676f !important;
  cursor: pointer;
}
.order-details-left-bottom-vehicle-head {
  color: #99a0ac;
  font-size: 12px;
}
.order-details-left-bottom-vehichle-no-head {
  color: #99a0ac;
  font-size: 12px;
}
.order-details-right-inner-section-heading {
  color: #99a0ac;
  font-size: 13px;
}
.order-details-left-bottom-vehicle-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}
.order-details-left-bottom-vehichle-no-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}
.order-details-top-bottom-order-heading {
  color: #99a0ac;
  font-size: 12px;
}
.order-details-top-bottom-order-content {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}
.table-container-text {
  color: #5e676f;
  font-size: 13px;
}
.table-g-not-names {
  color: #5e676f;
  font-size: 15px;
}
.table-g-driver-name {
  color: #5e676f;
  font-size: 13px;
}
.table-g-not-name {
  color: #5e676f;
  font-size: 13px;
  font-weight: 500;
}
.order-details-payment-first-terms-heading {
  color: #5e676f;
  font-size: 14px;
}
.order-details-payment-first-terms-text {
  font-size: 13px;
  font-weight: 500;
}
.order-details-payment-detention-head {
  color: #5e676f;
  font-size: 14px;
}
.order-details-payment-detention-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.order-details-payment-detention-date {
  font-size: 13px;
  font-weight: 500;
}
.order-details-payment-detention-time {
  font-size: 15px;
  font-weight: 500;
}
.order-details-payment-remark-head {
  font-size: 15px;
  font-weight: 500;
}
.order-details-payment-remark-text {
  color: #99a0ac;
  font-size: 14px;
}
.order-details-payment-right-section-heading {
  color: #192039;
  font-size: 18px;
  font-weight: 500;
}
.order-details-right-pickdata-head {
  color: #5e676f;
  font-size: 13px;
}
.order-details-right-pickdata-text {
  color: #5e676f;
  font-size: 13px;
  font-weight: 500;
}
/* Start the table container */
.tables-tds {
  width: 300px;
}
.tables-tds-cont {
  width: 500px;
}
.table-g-not-name-buttons {
  background-color: #f7f7d6;
  color: #5e676f;
  width: 100px;
  text-align: center;
  padding: 8px 0px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 6px;
}
@media screen and (max-width: 1450px) {
  .order-details-container {
    max-width: 100%;
  }
  .order-details-left-bottom-vehichle {
    width: 70%;
  }
  .order-details-left-bottom-vehichle-no {
    width: 28%;
  }
  .order-details-top-bottom-order-sect {
    width: 34%;
  }
}
@media screen and (max-width: 1220px) {
  .order-details-section {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .order-details-left-bottom-vehichle {
    width: 62vw;
  }
  .order-details-left-bottom-vehichle-no {
    width: 35vw;
  }
  .order-details-top-bottom-order-sect {
    width: 32.4vw;
  }
  .order-details-payment-container {
    flex-direction: column;
  }
  .order-details-payment-left-section {
    width: 100%;
  }
  .order-details-payment-first-terms-cont {
    width: 50%;
  }
  .order-details-payment-detention-cont {
    width: 100%;
  }
  .order-details-payment-terms-cont {
    width: 100%;
  }
  .order-details-payment-remark-cont {
    width: 100%;
  }
}
